fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
langchain
langgraph
langchain-community
chromadb
stripe
python-multipart
sse-starlette
python-dotenv
psycopg[binary]
langchain-mcp-adapters
mcp
langchain-ollama
langchain-text-splitters
langchain-chroma
langgraph-supervisor
langchain-google-genai
langchain-groq
sse-starlette
openai
requests
langchain-anthropic
